h1{
    color: #66BFBF;
    font-family: "Monserrat";
    background-color: yellow;
}

p{
  text-align: center;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #999;
}

body{
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  padding-bottom: 10px;
}

img{
  width: 700px;
  height: 500px;
  border: solid;
}
